@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
}

.home-main {
  display: block;
}
.home-main .home-m-1 {
  display: grid;
  height: 850px;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: contain;
     object-fit: contain;
  background-image: url("../../assets/Images/10001.jpg");
}
.home-main .home-m-1 img {
  width: 100%;
  height: 100%;
  background-size: cover;
  -o-object-fit: contain;
     object-fit: contain;
  background-repeat: no-repeat;
}
.home-main .home-m-1 .home-m-1-1 {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  place-items: center;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 76.5% 23.5%;
  background: linear-gradient(to top, rgba(176, 31, 98, 0.5) 50%, rgba(214, 219, 244, 0.5) 100%);
}
.home-main .home-m-1 .home-m-1-1 .home-m-1-1-1 {
  display: grid;
  width: 50vw;
  height: 500px;
  place-content: center;
  margin-top: 9rem;
}
.home-main .home-m-1 .home-m-1-1 .home-m-1-1-1 .home-m-1-1-1-1, .home-main .home-m-1 .home-m-1-1 .home-m-1-1-1 .home-m-1-1-1-2, .home-main .home-m-1 .home-m-1-1 .home-m-1-1-1 .home-m-1-1-1-3 {
  background: transparent;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  width: 70vw;
  padding: 1rem;
}
.home-main .home-m-1 .home-m-1-1 .home-m-1-1-1 .home-m-1-1-1-1 #m-s-1, .home-main .home-m-1 .home-m-1-1 .home-m-1-1-1 .home-m-1-1-1-2 #m-s-1, .home-main .home-m-1 .home-m-1-1 .home-m-1-1-1 .home-m-1-1-1-3 #m-s-1 {
  font-family: "Mukta", sans-serif;
  width: 47vw;
  display: flex;
  color: #fff;
  filter: brightness(200);
  justify-content: center;
  align-items: center;
  font-size: 70px;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 900;
}
.home-main .home-m-1 .home-m-1-1 .home-m-1-1-1 .home-m-1-1-1-1 #m-s-2, .home-main .home-m-1 .home-m-1-1 .home-m-1-1-1 .home-m-1-1-1-2 #m-s-2, .home-main .home-m-1 .home-m-1-1 .home-m-1-1-1 .home-m-1-1-1-3 #m-s-2 {
  font-family: "Mukta", sans-serif;
  width: 47vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: #fff;
  font-weight: 550;
  line-height: 1.2;
}
.home-main .home-m-1 .home-m-1-1 .home-m-1-1-1 .home-m-1-1-1-1 #m-s-3, .home-main .home-m-1 .home-m-1-1 .home-m-1-1-1 .home-m-1-1-1-2 #m-s-3, .home-main .home-m-1 .home-m-1-1 .home-m-1-1-1 .home-m-1-1-1-3 #m-s-3 {
  font-family: "Mukta", sans-serif;
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: #fff;
  font-weight: 550;
  margin-bottom: -10rem;
  padding-top: 10rem;
}
.home-main .home-m-1 .home-m-1-1 .home-m-1-1-2 {
  display: grid;
  background: transparent;
}
.home-main .home-m-2 {
  height: 730px;
  width: 100vw;
  display: grid;
  background: #ECE7E4;
}
.home-main .home-m-2 .home-m-2-1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 30% 50% 10%;
  width: 70vw;
  place-items: center;
}
.home-main .home-m-2 .home-m-2-1 .home-m-2-1-1, .home-main .home-m-2 .home-m-2-1 .home-m-2-1-2 .home-m-2-1-3 {
  display: grid;
  place-items: center;
  margin-top: 10rem;
  background: #000;
  width: 60vw;
}
.home-main .home-m-2 .home-m-2-1 .home-m-2-1-1 .home-m-2-1-1-1 span, .home-main .home-m-2 .home-m-2-1 .home-m-2-1-2 .home-m-2-1-3 .home-m-2-1-1-1 span {
  font-size: 40px;
  font-family: "Mukta", sans-serif;
  font-weight: 900;
  color: #761442;
}
.home-main .home-m-2 .home-m-2-1 .home-m-2-1-1 .home-m-2-1-1-2 span, .home-main .home-m-2 .home-m-2-1 .home-m-2-1-1 .home-m-2-1-1-3 span, .home-main .home-m-2 .home-m-2-1 .home-m-2-1-2 .home-m-2-1-3 .home-m-2-1-1-2 span, .home-main .home-m-2 .home-m-2-1 .home-m-2-1-2 .home-m-2-1-3 .home-m-2-1-1-3 span {
  display: flex;
  font-size: 20px;
  width: 35vw;
  font-family: "Mukta", sans-serif;
  font-weight: 300;
  color: #000;
  padding: 0.5rem;
  justify-content: start;
  align-items: start;
  text-align: start;
}
.home-main .home-m-2 .home-m-2-1 .home-m-2-1-2 {
  display: grid;
  background: #fff;
}
.home-main .home-m-2 .home-m-2-1 .home-m-2-1-2 .home-m-2-1-2-1, .home-main .home-m-2 .home-m-2-1 .home-m-2-1-2 .home-m-2-1-2-2,
.home-main .home-m-2 .home-m-2-1 .home-m-2-1-2 .home-m-2-1-2-3 {
  display: grid;
  grid-template-columns: 1fr 1fr fr;
  grid-template-rows: 1fr;
}
.home-main .home-m-3 {
  background: #fff;
}
.home-main .home-m-4 {
  display: block;
  width: 100vw;
  background: #fff;
}
.home-main .home-m-5 {
  display: block;
  width: 100vw;
  background: #fff;
}
.home-main .home-m-6 {
  display: block;
  background: #fff;
  width: 100vw;
}
@media (min-width: 300px) and (max-width: 600px) {
  .home-main {
    /* Styles for screens less than 768px wide (e.g., tablets) */
  }
  .home-main .home-m-1 {
    width: 100vw;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .home-main {
    /* Styles for screens less than 480px wide (e.g., mobile phones) */
  }
  .home-main .my-element {
    font-size: 14px;
  }
}
@media (min-width: 901px) and (max-width: 1500px) {
  .home-main {
    /* Styles for screens less than 480px wide (e.g., mobile phones) */
  }
  .home-main .my-element {
    font-size: 14px;
  }
}
@media (min-width: 1501px) and (max-width: 1500px) {
  .home-main {
    /* Styles for screens less than 480px wide (e.g., mobile phones) */
  }
  .home-main .my-element {
    font-size: 14px;
  }
}/*# sourceMappingURL=Home.css.map */