@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.toggle{
    display:grid;
    place-items: center;
    width:100vw;
    // height:70px;
    height: fit-content;
    .tog{
        width:70vw;
        #tit{
            display: flex;
            grid-template-columns: 20% 80%;
            grid-template-rows: 1fr;
            column-gap: 1rem;
            margin: 0rem 0rem 1rem 5rem;
            // height: auto;
            #icon12{
                font-size: 35px;
                height: 30px;
                width: 30px;
                color: #cccccc;
            }
            #tit1{
                font-size: 25px;
                font-family: "Ubuntu", sans-serif;
                color: #000;
            }
            #tit1:hover,  #tit1:active{
                color: #4472C4;
            }
        }
        .head{
            height: 250px;
            // display: grid;
            // margin-top: 2rem;
            .head1{
                font-weight: 200;
                display: grid;
                margin: 0rem 0rem 0rem -8rem;
                color:#555555;
                // height: max-content;
            .head1-1{
                font-weight: 550;
                font-size: 16px;
                color:#555555;
                // margin-bottom: 1rem;
            }
            .head1-2, .head1-3{
                .head1-2-2, .head1-3-2{
                    ul{
                        margin: 0px 0rem 0px 2rem;
                        padding: 0px;
                        margin-bottom: 1rem;
                    }
                }
            }
            

        
        }
        }
    }
}